<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Bienvenido a mi App Flask</h1>
    <h2>Ambar si lees esto, quiero que sepas que te amo <3</h2>
    <p>Esta aplicación está preparada para desplegarse en Render.com</p>
    <a href="{{ url_for('about') }}">Acerca de</a>
    
    <h2>Datos de la API:</h2>
    <div id="data-container"></div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>