<!DOCTYPE html>
<html>
<head>
    <title>Flask + Vue.js</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div id="app" class="container py-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h1 class="h4 mb-0">Matriz Dinámica</h1>
            </div>
            
            <div class="card-body">

                <div class="container">

                    <!-- Buttons -->
                    <div class="row">
                        <div class="col">
                            <div class="d-flex justify-content-center gap-3 mb-4">
                                <div class="btn-group" role="group">
                                    <button @click="delRow" class="btn btn-danger">
                                        -
                                    </button>
                                    <button class="btn btn-secondary" disabled>
                                        Restricciones
                                    </button>
                                    <button @click="addRow" class="btn btn-success">
                                        +
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button @click="delColumn" class="btn btn-danger">
                                        -
                                    </button>
                                    <button class="btn btn-secondary" disabled>
                                        Variables
                                    </button>
                                    <button @click="addColumn" class="btn btn-success">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Función Objetivo -->
                    <div class="row align-items-center">
                        <div class="col-1 text-center fs-4">
                            <i>z =</i>
                        </div>

                        <!-- C Matrix -->
                        <div class="col-5">
                            <div class="card shadow">
                                <div class="card-header text-center">
                                    Matriz <b>C</b>
                                </div>
                                <div class="d-flex align-items-center">
                                    <table class="table table-borderless m-0">
                                        <tr>
                                            <td v-for="(value, index) in c_matrix" :key="index">
                                                <input
                                                    v-model="c_matrix[index]" 
                                                    class="form-control form-control-sm text-center">

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Variabels -->
                        <div class="col-6">
                            <div class="card shadow">
                                <div class="card-header text-center">
                                    Matriz de Variables
                                </div>
                                <div class="d-flex align-items-center">
                                    <table class="table table-borderless m-0">
                                        <tr>
                                            <td v-for="(value, index) in var_matrix" :key="index" v-text="value" class="text-center"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row align-items-center">

                        <!-- A Matrix -->
                        <div class="col-6">
                            <div class="card shadow">
                                <div class="card-header text-center">
                                    Matriz <b>A</b>
                                </div>
                                <div class="d-flex align-items-center">
                                    <table class="table table-borderless m-0">
                                        <tr v-for="(row, rowIndex) in A_matrix" :key="rowIndex">
                                            <td v-for="(cell, colIndex) in row" :key="colIndex" class="p-1">
                                                <input
                                                    v-model="A_matrix[rowIndex][colIndex]" 
                                                    class="form-control form-control-sm text-center">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Variabels -->
                        <div class="col-2">
                            <div class="card shadow">
                                <div class="card-header text-center">
                                    Matriz de Variables
                                </div>
                                <div class="d-flex align-items-center">
                                    <table class="table table-borderless m-0">
                                        <tr v-for="(value, index) in var_matrix" :key="index">
                                            <td class="text-center" v-text="value"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-1 text-center fs-4">
                            <i>=</i>
                        </div>

                        <!-- b Matrix -->
                        <div class="col-2">
                            <div class="card shadow">
                                <div class="card-header text-center">
                                    Matriz <b>b</b>
                                </div>
                                <div class="d-flex align-items-center">
                                    <table class="table table-borderless m-0">
                                        <tr v-for="(value, index) in b_matrix" :key="index">
                                            <td>
                                                <input
                                                    v-model="b_matrix[index]" 
                                                    class="form-control form-control-sm text-center">

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Botón Submit -->
                    <div class="row">
                        <div class="col">
                            <div class="d-flex justify-content-center">
                                <button @click="submitMatrix" class="btn btn-primary">
                                    <i class="bi bi-send"></i> Procesar Matriz
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>